bninput-composite {
    display: inline-block;
    box-sizing: border-box;
}

bninput-composite > input[type="text"] {
    /* all: inherit; */
    font: inherit;
    color: inherit;
}

bninput-composite > * {

    /* remove everything besides text (aka font & color) */
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;

    /* full space */
    width: 100%;
}

/* neben Benehmen */
bninput-composite > input[type="text"] {
    cursor: unset;
}

/* placeholder positioning */
bninput-composite {
    white-space: nowrap;
}

bninput-composite > * {
    display: inline-block;
    vertical-align: text-bottom;
}

bninput-composite > div {
    position: relative;
    left: -100%;
}

/* mouse skipping */
bninput-composite > div {
    pointer-events: none;
}

/* ghost hiding */
bninput-composite > div > ghost {
    visibility: hidden;
}

/* space collapsing et. al */
bninput-composite > div {
    white-space: pre;
}

/* big placeholders overflowing */
bninput-composite > div {
    overflow-x: hidden;
    width: 100%;
}

/* make IE happy */
bninput-composite > div {
    overflow-y: hidden;
}

bninput-composite > input[type="text"] {
    cursor: inherit;
}


bninput-composite > input[type="text"]:focus,
bninput-composite > input[type="text"]:hover {
    outline: none;
    border: none;
}

/* defaults */

bninput-composite placeholder {
    /* resource://gre-resources/forms.css */
    opacity: 0.54;
}

/* defaults: native appearance */
bninput-composite {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}