align-content: normal;
align-items: normal;
align-self: auto;
animation-delay: 0s;
animation-direction: normal;
animation-duration: 0s;
animation-fill-mode: none;
animation-iteration-count: 1;
animation-name: none;
animation-play-state: running;
animation-timing-function: ease;
backface-visibility: visible;
background-attachment: scroll;
background-blend-mode: normal;
background-clip: border-box;
background-color: rgb(255, 255, 255);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgb(232, 232, 231);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: inset;
border-bottom-width: 0px;
border-collapse: separate;
border-image-outset: 0;
border-image-repeat: stretch stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(232, 232, 231);
border-left-style: inset;
border-left-width: 8px;
border-right-color: rgb(232, 232, 231);
border-right-style: inset;
border-right-width: 8px;
border-spacing: 0px 0px;
border-top-color: rgb(232, 232, 231);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: inset;
border-top-width: 0px;
bottom: auto;
box-decoration-break: slice;
box-shadow: none;
box-sizing: border-box;

quirk.css:196
input:not([type="image"])
border-box
caption-side: top;
caret-color: rgb(0, 0, 0);
clear: none;
clip: auto;
clip-path: none;
clip-rule: nonzero;
color: rgb(0, 0, 0);
color-adjust: economy;
color-interpolation: srgb;
color-interpolation-filters: linearrgb;
column-count: auto;
column-fill: balance;
column-gap: normal;
column-rule-color: rgb(0, 0, 0);
column-rule-style: none;
column-rule-width: 0px;
column-width: auto;
content: none;
counter-increment: none;
counter-reset: none;
cursor: text;
direction: ltr;
display: inline;
dominant-baseline: auto;
empty-cells: show;
fill: rgb(0, 0, 0);
fill-opacity: 1;
fill-rule: nonzero;
filter: none;
flex-basis: auto;
flex-direction: row;
flex-grow: 0;
flex-shrink: 1;
flex-wrap: nowrap;
float: none;
flood-color: rgb(0, 0, 0);
flood-opacity: 1;
font-family: Cantarell;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-size: 13.3333px;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-synthesis: weight style;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-weight: 400;
grid-auto-columns: auto;
grid-auto-flow: row;
grid-auto-rows: auto;
grid-column-end: auto;
grid-column-gap: 0px;
grid-column-start: auto;
grid-row-end: auto;
grid-row-gap: 0px;
grid-row-start: auto;
grid-template-areas: none;
grid-template-columns: none;
grid-template-rows: none;
height: 34px;
hyphens: manual;
image-orientation: 0deg;
image-rendering: auto;
ime-mode: auto;
isolation: auto;
justify-content: normal;
justify-items: normal;
justify-self: auto;
left: auto;
letter-spacing: normal;
lighting-color: rgb(255, 255, 255);
line-height: 17px;
list-style-image: none;
list-style-position: outside;
list-style-type: disc;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
marker-end: none;
marker-mid: none;
marker-start: none;
mask: none;
mask-clip: border-box;
mask-composite: add;
mask-image: none;
mask-mode: match-source;
mask-origin: border-box;
mask-position: 0% 0%;
mask-position-x: 0%;
mask-position-y: 0%;
mask-repeat: repeat;
mask-size: auto auto;
mask-type: luminance;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
mix-blend-mode: normal;
object-fit: fill;
object-position: 50% 50%;
opacity: 1;
order: 0;
outline-color: rgb(0, 0, 0);
outline-offset: 0px;
outline-style: none;
outline-width: 0px;
overflow: visible;
overflow-wrap: normal;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 1px;
padding-left: 1px;
padding-right: 1px;
padding-top: 1px;
page-break-after: auto;
page-break-before: auto;
page-break-inside: auto;
paint-order: normal;
perspective: none;
perspective-origin: 95.5px 17px;
pointer-events: auto;
position: static;
quotes: "“" "”" "‘" "’";
resize: none;
right: auto;
ruby-align: space-around;
ruby-position: over;
scroll-behavior: auto;
scroll-snap-coordinate: none;
scroll-snap-destination: 0px 0px;
scroll-snap-points-x: none;
scroll-snap-points-y: none;
scroll-snap-type-x: none;
scroll-snap-type-y: none;
shape-rendering: auto;
stop-color: rgb(0, 0, 0);
stop-opacity: 1;
stroke: none;
stroke-dasharray: none;
stroke-dashoffset: 0px;
stroke-linecap: butt;
stroke-linejoin: miter;
stroke-miterlimit: 4;
stroke-opacity: 1;
stroke-width: 1px;
table-layout: auto;
text-align: start;
text-align-last: auto;
text-anchor: start;
text-combine-upright: none;
text-decoration: none;
text-decoration-color: rgb(0, 0, 0);
text-decoration-line: none;
text-decoration-style: solid;
text-emphasis-color: rgb(0, 0, 0);
text-emphasis-position: over right;
text-emphasis-style: none;
text-indent: 0px;
text-justify: auto;
text-orientation: mixed;
text-overflow: clip;
text-rendering: optimizelegibility;
text-shadow: none;
text-transform: none;
top: auto;
touch-action: auto;
transform: none;
transform-box: border-box;
transform-origin: 95.5px 17px;
transform-style: flat;
transition-delay: 0s;
transition-duration: 0s;
transition-property: all;
transition-timing-function: ease;
unicode-bidi: normal;
vector-effect: none;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 191px;
will-change: auto;
word-break: normal;
word-spacing: 0px;
writing-mode: horizontal-tb;
z-index: auto;
-moz-appearance: textfield;
-moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-box-align: stretch;
-moz-box-direction: normal;
-moz-box-flex: 0;
-moz-box-ordinal-group: 1;
-moz-box-orient: horizontal;
-moz-box-pack: start;
-moz-context-properties: none;
-moz-float-edge: content-box;
-moz-force-broken-image-icon: 0;
-moz-image-region: auto;
-moz-orient: inline;
-moz-outline-radius-bottomleft: 0px;
-moz-outline-radius-bottomright: 0px;
-moz-outline-radius-topleft: 0px;
-moz-outline-radius-topright: 0px;
-moz-stack-sizing: stretch-to-fit;
-moz-tab-size: 8;
-moz-text-size-adjust: auto;
-moz-user-focus: none;
-moz-user-input: auto;
-moz-user-modify: read-write;
-moz-user-select: text;
-moz-window-dragging: default;
-moz-window-opacity: 1;
-moz-window-transform: none;
-moz-window-transform-origin: 95.5px 17px;
-webkit-text-fill-color: rgb(0, 0, 0);
-webkit-text-stroke-color: rgb(0, 0, 0);
-webkit-text-stroke-width: 0px;